<style>
section{position: fixed;
  text-align: center;
 	overflow: hidden;
	width:100%;
	max-width:100%;
	
}
nav {font-family:Microsoft JhengHei;
	overflow: hidden;
	z-index: 3;
  width: 100%;
  border:1px solid black;
  margin: 0 auto;
  background: #F5F5F5;
  padding: 0;
  box-shadow: 0px 5px 5px #696969;
  position: fixed;
  height:75px;
  max-width:100%;
}
nav ul {
	margin-top:-25px;
  list-style: none;
  text-align: center;
  overflow:hidden;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 0 10px;
}
nav ul li ul {
	z-index: 3;
	padding: 0;
	overflow:visible;
	visibility:hidden;
	position:fixed;
	clear:left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
  background: white;
  box-shadow: 5px 5px 5px #696969;}
nav ul li ul li {
	z-index: 3;
	float:left;
	text-align: center;
	background: white;
}
nav ul li ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 0 10px;
}
nav ul li ul li ul{
  width:90px;
  z-index: 3;
  padding: 0;
  overflow:visible;
  visibility:hidden;
  position:fixed;
  clear:left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background: white;
  box-shadow: 5px 5px 5px #696969;}
nav ul li ul li ul li{
	width:90px;
  z-index: 3;
  float:left;
  text-align: center;
  background: white;
}
nav ul li ul li ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 0 10px;
}
nav ul li ul {
	visibility:hidden;
}
nav ul li:hover ul {
	visibility:visible;
}
nav ul li:hover ul li ul {
	visibility:hidden;
}
nav ul li ul li:hover ul {
	visibility:visible;
}
nav ul li ul li:hover ul li ul {
	visibility:hidden;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .2s;
}
nav ul li a:hover {
  color: white;
}
nav.shift ul li a {
  position:relative;
  z-index: 2;
}
nav.shift ul li a:hover {
  color: white;
}
nav.shift ul li a:after {
	border-radius:3px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: black;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
	border-radius:3px;
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.logo{z-index:1;text-align:enter; padding-top: 50px;}
.logo div{margin:0 auto;position:relative; padding-top: 15px; width:250px;height:200px;text-align:center;max-width:100%;float:left; margin-top:-100px;}
.logo img{margin:0 auto;position:relative; max-width:100%;}
footer{
	z-index:1;
  position:relative;
  bottom:0;
  height: 80px;
    box-sizing: border-box;
    width: 100%;
    background: #F5F5F5;
    margin: 0px auto 0px auto;
    padding: 0;
    border-top:2px solid black;
}
footer span{ margin-left:40px; font-family:Microsoft JhengHei; font-weight:bold; font-size:20px; }
footer a{text-decoration:none;}
footer h4{float:right; margin-right:60px;}

.show-cart li {
  display: flex;
}
</style>